%font-gray {
  color: #6f7c90;
  font-size: 15px;
}

.documentation {
  .docs {
    width: 290px;
    padding: 16px;
    min-height: 100%;
  }

  .btn {
    padding: 1px 4px 5px 2px;
    margin-top: 16px;

    .icon {
      width: 22px;
      height: 22px;
    }
  }
  @include media-breakpoint-down(lg) {
    .docs {
      width: 100%;
    }
  }
  @include media-breakpoint-down(xxl) {
    .btn {
      margin: 16px 10px 0 10px;
    }
  }
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  h1 {
    font-size: 22px;
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
    @extend %font-gray;
  }

  p {
    @extend %font-gray;
  }

  .key {
    color: #6a8ecf;
    font-size: 15px;
  }

  .type {
    color: #ec9f09;
    font-size: 15px;
  }

  .arg {
    @extend %font-gray;
  }

  .crumb {
    color: #e10098;
  }
}
