@import '../node_modules/bootstrap/scss/bootstrap';

.main {
  display: flex;
}

@include media-breakpoint-down(lg) {
  .main {
    flex-direction: column;
  }
}

.loader {
  margin: auto;
  margin-top: 30vh;
}
