.container {
  display: flex;
  height: calc(100vh - 56px);
  width: 100%;
}

.editorWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.operationWrapper {
  display: flex;
  height: 40%;
}

.responseWrapper {
  display: flex;
  width: 50%;
  position: relative;
  align-items: center;
}

.submitButton {
  position: absolute;
  z-index: 2;
}
