.logout {
  color: #e535ab;
  width: 22px;
  height: 22px;
  cursor: pointer;
  &:hover {
    color: #ff0000;
  }
}

.checkLanguage,
.checkLanguage button {
  display: flex;
  border-color: #e535ab;
  border-radius: 5px;
  gap: 3px;
  padding: 1px;
}

.header {
  transition: background-color 0.2s ease-in-out;
}
