.loader {
  margin: auto;
  margin-top: 30vh;
}

.welcome {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  @media (max-width: 767px) {
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    row-gap: 20px;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  @media (max-width: 991px) {
    font-size: 1.5rem;
  }
}

.object {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
