.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  flex-wrap: wrap;

  .logo {
    width: 100px;
    padding: 16px;
  }
  .accounts {
    display: flex;
    align-items: center;
    gap: 5px;

    a {
      color: #000;
      &:hover {
        color: #e535ab;
      }
    }
  }
}
